<nav class="nav location-{{ include.location }}">
    <label for="menu" class="menu"><i class="fas fa-anchor"></i>Menu</label>
    <input type="checkbox" id="menu">
    <ul class="nav-list">
        {% assign nav = site.pages | sort:"order" %}
        {% for item in nav %}
            {% if item.title %}    
            <li{% if item.url == page.url %} class="selected"{% endif %}>
                <a href="{{ site.baseurl }}{{ item.url }}">
                    {% if item.icon %}<i class="fas {{ item.icon }}"></i>{% endif %}
                    {{ item.title }}
                </a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
