@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Petit+Formal+Script|Work+Sans:400,700&display=swap");
*, *:before *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

:root {
  --font-size-body-little: 12px;
  --font-size-body-small: 14px;
  --font-size-body: 16px;
  --font-size-body-big: 18px;
  --font-size-body-huge: 20px;
  --color-body-text:#ffffff;
  --color-body-anim: #027D8A;
  --color-body-navh: #014E6D;
  --color-body-box: #002a54;
  --color-body-bgrd: #1bb2b8;
  --color-body-a: #8cf5f8; }

html {
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: var(--font-size-body);
  line-height: 1.5;
  color: var(--color-body-text); }

h1, h2, h3, h4, h5, h6 {
  color: #8cf5f8;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 2px #1f1f1f; }

h1 {
  font-size: 4.5em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2.0em; }

h4 {
  font-size: 1.8em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

a {
  text-decoration: none;
  color: var(--color-body-box);
  font-weight: bold;
  font-family: 'Open Sans', sans-serif; }

blockquote,
p.author,
.site-thought {
  font-family: 'Petit Formal Script', cursive;
  font-size: 1em;
  color: var(--color-body-text);
  text-shadow: 2px 2px 2px #1f1f1f; }

@media screen and (max-width: 600px) {
  html {
    font-size: var(--font-size-body-little); } }

@media screen and (max-width: 1024px) {
  html {
    font-size: var(--font-size-body-small); } }

@media screen and (min-width: 1025px) and (max-width: 1599px) {
  html {
    font-size: var(--font-size-body); } }

@media screen and (min-width: 1600px) {
  html {
    font-size: var(--font-size-body-big); } }

@media screen and (min-width: 1900px) {
  html {
    font-size: var(--font-size-body-huge); } }

.button {
  background: var(--color-body-a);
  color: var(--color-body-box);
  border: 1px transparent var(--color-body-bgrd);
  border-radius: 0.3em;
  margin: 1.5em 0;
  padding: 0.5em;
  width: 30%;
  text-align: center; }
  .button:hover {
    background: var(--color-body-text);
    color: var(--color-body-box);
    outline: var(--color-body-box); }

.site {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 5fr;
  grid-template-areas: "header header" "main main" "footer footer"; }
  .site-header {
    grid-area: header; }
  .site-main {
    grid-area: main; }
  .site-footer {
    grid-area: footer; }

.page {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-content: center;
  background: var(--color-body-a); }
  .page-title {
    grid-column: 2/ span 4; }
  .page h2 {
    color: var(--color-body-navh); }

.info {
  background: var(--color-body-bgrd);
  padding: 0.5em 2em; }
  .info blockquote {
    padding: 0.5em; }
  .info p.author {
    text-align: right; }
  .info ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0; }
  .info li {
    list-style: none outside; }
  .info .travel, .info .ceremony {
    margin: 0.5em; }
  .info .travel {
    background: var(--color-body-box);
    padding: 0.5em;
    text-align: center; }
  .info .ceremony {
    background: var(--color-body-text);
    color: var(--color-body-box);
    text-align: center;
    padding: 0.5em;
    position: relative; }
  .info .ceremony h4 {
    color: var(--color-body-box); }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-flow: dense;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 2em 0; }
  .gallery-item a,
  .gallery-item p,
  .gallery-item img {
    display: block; }
  @media screen and (max-width: 1024px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(1, 1fr); } }

.gallery-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  grid-column: span 1;
  border: 1px solid var(--color-body-text);
  border-bottom-right-radius: 5em;
  background: var(--color-body-box);
  color: var(--color-body-text);
  margin: 2em; }

.gallery-img {
  flex: 0 0 100%;
  display: block;
  position: relative;
  overflow: hidden; }

.gallery-img:before,
.gallery-img:after {
  padding-top: 30%;
  content: '';
  display: block; }

.gallery-img img {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.gallery-content {
  flex: 0 0 100%; }

.gallery-content .button {
  margin: 1em auto; }

.gallery-item p {
  margin: 1em; }

.gallery.festivals {
  background: var(--color-body-text); }

.gallery.festivals h3 {
  color: var(--color-body-box); }

.gallery.regatta .gallery-item {
  background: var(--color-body-box);
  color: var(--color-body-text); }

.gallery.regatta {
  background: var(--color-body-box); }

.gallery.regatta .gallery-item {
  background: var(--color-body-text);
  color: var(--color-body-box); }

.gallery.regatta .gallery-item h6 {
  color: var(--color-body-box);
  text-shadow: none; }

.site-header .site-banner {
  background: linear-gradient(rgba(165, 163, 163, 0.3), rgba(165, 163, 163, 0.3)), url(../images/sailing_ship.jpg) no-repeat center center;
  background-size: cover;
  padding: 5rem;
  text-align: center;
  color: var(--color-body-text); }
  .site-header .site-banner .site-title {
    margin: 2rem 0; }
  .site-header .site-banner .site-title > a {
    color: var(--color-body-text); }
  .site-header .site-banner .site-thought {
    margin-top: 5rem; }

.nav {
  background: var(--color-body-navh);
  color: var(--color-body-text); }
  .nav-list {
    display: flex;
    padding: 0 0;
    margin: 0 0; }
    .nav-list li {
      display: block;
      list-style: none outside;
      padding: 0.5em;
      position: relative; }
    .nav-list a {
      display: block;
      padding: 0.5em;
      border: 2px solid var(--color-body-navh);
      border-radius: 0.3em;
      color: var(--color-body-text); }
      .nav-list a i.fas:before {
        color: var(--color-body-text);
        margin-right: 0.5em; }

.nav-list li.selected > a,
.nav-list a:hover {
  background: var(--color-body-text);
  color: var(--color-body-navh);
  border: 2px solid var(--color-body-text); }

.nav-list li.selected > a i.fas:before,
.nav-list a:hover i.fas:before {
  background: var(--color-body-text);
  color: var(--color-body-navh); }

input[type=checkbox],
.menu {
  display: none; }

@media screen and (max-width: 1023px) {
  .menu {
    background: var(--color-body-navh);
    color: #ffff;
    display: flex;
    cursor: pointer;
    padding: 1em 0;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2em; }
  .menu i.fas:before {
    color: var(--color-body-text);
    margin-right: 0.5em;
    display: block; }
  .nav-list {
    display: none; }
  input[type=checkbox]:checked ~ .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .nav-list li.selected > a,
  .nav-list a:hover {
    background: var(--color-body-text);
    color: var(--color-body-navh);
    border: 2px solid var(--color-body-text); }
  .nav-list li.selected > a i.fas:before,
  .nav-list a:hover i.fas:before {
    background: var(--color-body-text);
    color: var(--color-body-navh); } }

.content h3 {
  color: var(--color-body-text);
  padding: 0.5em 0; }

.topics {
  background: var(--color-body-bgrd);
  color: var(--color-body-text); }
  .topics .topic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2rem; }
    @media screen and (max-width: 600px) {
      .topics .topic {
        justify-content: center; } }
    .topics .topic .subtopic {
      flex: 0 0 32%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: none;
      color: var(--color-body-text);
      background: var(--color-body-box);
      margin-bottom: 2rem;
      text-align: center;
      overflow: hidden;
      padding-bottom: 1em; }
      @media screen and (max-width: 600px) {
        .topics .topic .subtopic {
          flex: 0 0 90%;
          margin: 2em; } }
      .topics .topic .subtopic img {
        width: 100%;
        height: auto;
        overflow: hidden; }
      .topics .topic .subtopic p {
        padding: 0.5em; }
      .topics .topic .subtopic .button {
        display: block;
        border-radius: 0.5em;
        margin: 1rem 0;
        padding: 0.5rem; }

.subscribe {
  background: var(--color-body-anim);
  color: var(--color-body-text);
  text-align: center; }
  .subscribe p {
    margin-bottom: 1rem; }
  .subscribe input {
    background: var(--color-body-bgrd);
    color: var(--color-body-text);
    padding: 0.5em;
    font-style: italic;
    border-radius: 0.3em;
    margin: 1rem 0.5rem 3rem 0.5rem;
    width: 40%; }
  .subscribe label {
    background: var(--color-body-bgrd);
    color: var(--color-body-text);
    border: 1px solid var(--color-body-bgrd);
    padding: 0.5em;
    border-radius: 0.3em; }

.form {
  display: flex;
  margin: 2rem auto;
  background: var(--color-body-box);
  border: 1px solid var(--color-body-text);
  border-radius: 0.3em;
  height: auto; }
  .form-image {
    flex: 0 0 50%;
    display: block;
    position: relative;
    overflow: hidden; }
    @media screen and (max-width: 1024px) {
      .form-image {
        display: none; } }
    .form-image img {
      width: 80%;
      height: auto;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 45%; }
  .form-info {
    flex: 0 0 50%;
    padding: 1.5em;
    color: var(--color-body-text);
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between;
    align-items: center;
    font-family: 'Petit Formal Script', cursive; }
    @media screen and (max-width: 1024px) {
      .form-info {
        flex: 0 0 100%; } }
    .form-info h5 {
      flex: 0 0 100%;
      text-align: center; }
    .form-info p {
      display: flex;
      flex: 0 0 100%;
      align-items: center; }
    .form-info .button.submit {
      flex-basis: 70%; }
    .form-info label {
      flex: 0 0 35%; }
    .form-info input, .form-info select {
      flex: 0 0 35%;
      border-radius: 0.3em;
      padding: 0.5em;
      background: var(--color-body-bgrd);
      color: var(--color-body-box);
      width: 100%;
      box-sizing: content-box; }

.crew-content {
  padding: 0;
  margin: 2em;
  background: var(--color-body-box); }
  .crew-content h4 {
    padding: 0.5em 0; }
  .crew-content ul.crew-list {
    padding: 0 0 1em 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--color-body-box); }
    @media screen and (max-width: 1024px) {
      .crew-content ul.crew-list {
        justify-content: center; } }
    @media screen and (max-width: 600px) {
      .crew-content ul.crew-list {
        justify-content: center; } }
    .crew-content ul.crew-list li {
      flex: 0 0 47%;
      display: block;
      list-style: none;
      text-align: center;
      margin: 1em 0;
      padding-bottom: 1em; }
      @media screen and (max-width: 1024px) {
        .crew-content ul.crew-list li {
          flex: 0 0 30%; } }
      @media screen and (max-width: 600px) {
        .crew-content ul.crew-list li {
          flex: 0 0 95%; } }
      .crew-content ul.crew-list li span {
        display: block; }
      .crew-content ul.crew-list li .crew-avatar {
        display: block;
        margin: 0 auto;
        margin-bottom: 1em;
        width: 100px;
        box-shadow: 5px 5px 10px 5px #1bb2b8;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        position: relative; }
        .crew-content ul.crew-list li .crew-avatar:before, .crew-content ul.crew-list li .crew-avatar:after {
          display: block;
          content: ''; }
        .crew-content ul.crew-list li .crew-avatar:before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          pointer-events: none; }
        .crew-content ul.crew-list li .crew-avatar:after {
          padding-top: 100%; }
        .crew-content ul.crew-list li .crew-avatar img {
          display: block;
          position: absolute;
          width: 100%;
          top: 50%;
          left: 0%;
          transform: translateY(-50%); }
      .crew-content ul.crew-list li .crew-name {
        font-family: 'Petit Formal Script', cursive;
        color: var(--color-body-a);
        margin: 0.5em 0; }

.crew-content.two {
  padding: 0;
  margin: 2em;
  background: var(--color-body-text); }
  .crew-content.two h4,
  .crew-content.two ul.crew-list,
  .crew-content.two .crew-position {
    color: var(--color-body-box); }
  .crew-content.two ul.crew-list {
    background: var(--color-body-text); }
    .crew-content.two ul.crew-list .crew-avatar {
      box-shadow: 5px 5px 10px 5px #002a54; }

.crew-content.two ul.crew-list .crew-name {
  font-family: 'Petit Formal Script', cursive;
  color: var(--color-body-box);
  margin: 0.5em 0; }

.site-footer {
  background: var(--color-body-navh);
  color: var(--color-body-text);
  border: 1px solid var(--color-body-text); }
  .site-footer p {
    text-align: center;
    font-weight: 500;
    margin: 0 0.5em; }
  .site-footer .sponsors {
    border-bottom: 1px solid var(--color-body-text);
    border-top: 1px solid var(--color-body-text); }
    .site-footer .sponsors-list {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media screen and (max-width: 1024px) {
        .site-footer .sponsors-list {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center; } }
      @media screen and (max-width: 600px) {
        .site-footer .sponsors-list {
          flex-direction: column;
          justify-content: center;
          align-items: center; } }
      .site-footer .sponsors-list li {
        list-style: none outside;
        display: block;
        margin: 0 0.5em; }
        .site-footer .sponsors-list li :last-child {
          margin-right: 1em; }
      .site-footer .sponsors-list a {
        display: block;
        margin: 1em; }
      .site-footer .sponsors-list img {
        display: block;
        width: auto;
        height: 5em; }
  .site-footer .public {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem; }
    .site-footer .public img {
      padding-top: 3rem;
      width: 100px;
      height: 100px; }
    .site-footer .public-list {
      margin-left: -2rem; }
    .site-footer .public .public-list, .site-footer .public .social-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
    .site-footer .public .public-list li,
    .site-footer .public .social-list li {
      list-style: none outside;
      display: block; }
    .site-footer .public .public-list h5,
    .site-footer .public .social-list h5,
    .site-footer .public .public-list a,
    .site-footer .public .social-list a {
      display: block;
      color: var(--color-body-text);
      margin-bottom: 1em; }
    .site-footer .public .public-list a i.fas:before {
      color: var(--color-body-text);
      margin-right: 0.5em;
      display: block; }
    .site-footer .public .social-list a i.fab:before {
      color: var(--color-body-text);
      margin-right: 0.5em;
      display: block; }

.site-title {
  opacity: 0;
  transform: translateX(-4em);
  transition: opacity 0.5s ease-in, transform 0.4s ease-in-out; }

body.loaded .site-title {
  opacity: 1;
  transform: translateX(0); }

.site-thought {
  opacity: 0;
  transform: translateX(-4em);
  transition: opacity 0.8s ease-in, transform 0.4s ease-in-out; }

body.loaded .site-thought {
  opacity: 1;
  transform: translateX(0); }

.site-nav li {
  opacity: 0;
  transform: translateY(-1em);
  transition: opacity 0.4s ease-in, transform 0.3s ease-in-out; }

.site-nav li:nth-child(1) {
  transition-delay: 0.7s; }

.site-nav li:nth-child(2) {
  transition-delay: 0.8s; }

.site-nav li:nth-child(3) {
  transition-delay: 0.9s; }

.site-nav li:nth-child(4) {
  transition-delay: 1.0s; }

.site-nav li:nth-child(5) {
  transition-delay: 1.1s; }

.site-nav li:nth-child(6) {
  transition-delay: 1.3s; }

.site-nav li:nth-child(7) {
  transition-delay: 1.4s; }

body.loaded .site-nav li {
  opacity: 1;
  transform: translateY(0); }

.contain-animation {
  background: var(--color-body-anim); }

.ship {
  width: 150px;
  height: auto;
  -webkit-animation: sail 10s linear;
          animation: sail 10s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: reverse; }

@-webkit-keyframes sail {
  0% {
    transform: translateX(0); }
  100% {
    transform: translate(1600px);
    @media screen and (max-width: 1024px) {
      transform: translate(1024px); }
    @media screen and (max-width: 600px) {
      transform: translate(600px); } } }

@keyframes sail {
  0% {
    transform: translateX(0); }
  100% {
    transform: translate(1600px);
    @media screen and (max-width: 1024px) {
      transform: translate(1024px); }
    @media screen and (max-width: 600px) {
      transform: translate(600px); } } }

@media screen and (max-width: 600px) {
  .wheel {
    display: none; } }

.wheel img {
  margin-top: 2rem;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 7s infinite linear;
          animation: spin 7s infinite linear; }

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(36deg); }
  20% {
    transform: rotate(72deg); }
  30% {
    transform: rotate(108deg); }
  40% {
    transform: rotate(144deg); }
  50% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(216deg); }
  70% {
    transform: rotate(252deg); }
  80% {
    transform: rotate(288deg); }
  90% {
    transform: rotate(334deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(36deg); }
  20% {
    transform: rotate(72deg); }
  30% {
    transform: rotate(108deg); }
  40% {
    transform: rotate(144deg); }
  50% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(216deg); }
  70% {
    transform: rotate(252deg); }
  80% {
    transform: rotate(288deg); }
  90% {
    transform: rotate(334deg); }
  100% {
    transform: rotate(360deg); } }

.globe-area .globe {
  background-image: url(../images/globe.jpg);
  margin: auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  box-shadow: 5px 5px 10px 5px #1bb2b8;
  animation: rotation 30s linear reverse infinite; }
  @media screen and (max-width: 600px) {
    .globe-area .globe {
      width: 100px;
      height: 100px; } }
  .globe-area .globe:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5) inset;
    z-index: 10; }

@-webkit-keyframes rotation {
  100% {
    background-position: 100%; } }

@keyframes rotation {
  100% {
    background-position: 100%; } }

.gallery-item:hover {
  -webkit-animation: tremble 0.7s ease-in-out;
          animation: tremble 0.7s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes tremble {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(-1em); }
  40% {
    transform: translateX(1em); }
  60% {
    transform: translateX(-0.5em); }
  80% {
    transform: translateX(0.5em); }
  80% {
    transform: translateX(0); } }

@keyframes tremble {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(-1em); }
  40% {
    transform: translateX(1em); }
  60% {
    transform: translateX(-0.5em); }
  80% {
    transform: translateX(0.5em); }
  80% {
    transform: translateX(0); } }
