<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Petit+Formal+Script|Work+Sans:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
        <script src="{{ site.baseurl}}/scripts/script.js"></script>
        <title>{{site.title}}</title>
    </head>
    <body>
        <div class="site">
            <header class="site-header">
                <section class="banner">
                    {% if page.home == true %}
                    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{site.title}}</a></h1>
                    {% else %}
                    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{site.title}}</a></h1>
                    {% endif %}
                    <p class="site-thought">Instead of sailing off into the sunset, he hopes to sail into the next century.</p>
                </section>
                <section class="header-nav">
                    {% include navigation.html location="header" %}
                </section>
            </header>
            <main class="site-main">
                <div class="contain-animation">
                    <div class="contain-ship">
                        <img class="ship" src="{{ site.baseurl }}/images/mascot.png" alt="ship animation">
                        
                    </div>
                </div>
                <div class="page">
                    <div class="wheel first"><img src="{{ site.baseurl }}/images/shipwheel.png" alt="wheel"></div>
                    <div class="page-title">
                        {% if page.title %}
                        <h2>{{page.title}}</h2>
                        {% endif %}
                    </div>
                    <div class="wheel second"><img src="{{ site.baseurl }}/images/shipwheel.png" alt="wheel"></div>                  
                </div>
                
                    {{content}}
                
            </main>
            <footer class="site-footer">
                <p>All rights reserved &copy; Tallships 2019. Inspired by &copy;Wikipedia and other various sources </p>
                <section class="sponsors">
                    <ul class="sponsors-list">
                            
                        <li><a href="https://www.tallshipserie.org/"><img src="{{ site.baseurl }}/images/tallships_erie.jpg" alt="erie"></a></li>
                        <li><a href="https://sailtraininginternational.org"><img src="{{ site.baseurl }}/images/sti.jpg" alt="sti"></a></li>
                        <li><a href="https://www.tallshipschallenge.com/"><img src="{{ site.baseurl }}/images/tallship_america.png" alt="america"></a></li>
                        <li><a href="http://tallshipson.com/"><img src="{{ site.baseurl }}/images/tallships_ontario.jpg" alt="sti"></a></li>
                        <li><a href="https://tallshipscle.com/"><img src="{{ site.baseurl }}/images/TallShipsCleveland.jpg" alt="cleveland"></a></li>
                        </ul>
                </section>
                    
                <section class="public">
                    <ul class="public-list">
                        <h5>Contact us</h5>
                        <li><a href="mailto:youremailaddress"><i class="fas fa-envelope"></i>Email</a></li>
                        <li><a href="tel:+359xxxxxxxxx"><i class="fas fa-phone"></i>+359xxxxxxxxx</a></li>
                        <li><a href="https://www.google.com/maps?q=%D0%9F%D1%80%D0%B8%D1%81%D1%82%D0%B0%D0%BD%D0%B8%D1%89%D0%B5+%D0%92%D0%B0%D1%80%D0%BD%D0%B0&ftid=0x40a45470426ce059:0x4fb83e02611989a2"><i class="fas fa-map-marker"></i>Varna Port</a></li>
                    </ul>
                                                                               
                    <ul class="social-list">
                        <h5>About us</h5>
                        <li><a href="#"><i class="fab fa-facebook-square"></i>Facebook</a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
                        <li><a href="#"><i class="fab fa-github"></i></i>Github</a></li>
                    </ul>
                </section>
            </footer>
        </div>
    </body>
</html>