.contain-animation {
    background: var(--color-body-anim);
    
}

.ship {
    width: 150px;
    height: auto;
    animation: sail 10s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes sail {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translate(70rem);
    }
}

.wheel { 
    img {
    margin-top: 2rem;
    width: 50px;
    height: 50px;
    animation: spin 7s infinite linear;
    }
    
}
 

@keyframes spin { 
        0% {transform:rotate(0deg);}
        10% {transform:rotate(36deg);}
        20% {transform:rotate(72deg);}
        30% {transform:rotate(108deg);}
        40% {transform:rotate(144deg);}
        50% {transform:rotate(180deg);}
        60% {transform:rotate(216deg);}
        70% {transform:rotate(252deg);}
        80% {transform:rotate(288deg);}
        90% {transform:rotate(334deg);}
        100% {transform:rotate(360deg);}
}

.globe-area {
    .globe {
        background-image: url(../images/globe.jpg);
        margin: auto;
        width: 500px;
        height: 500px;
        overflow: hidden;
        position: relative;
        border-radius: 100%;
        box-shadow: 5px 5px 10px 5px rgba(27,178,184,1);
        animation: rotation 30s linear reverse infinite;
    

        &:before {
            position: absolute;
            top:0; left:0; bottom:0; right:0;
            border-radius:50%;
            box-shadow:0 0 0 4px rgba(255, 255, 255, 0.5) inset;
            z-index:10;
        }
    
    }

}


    
@keyframes rotation {
    100% {
        background-position:100%
    }
}