
.site {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 5fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";

        &-header {
            grid-area: header;
        }
        
        &-main {
            grid-area: main;
        }
        
        
        
        &-footer {
            grid-area: footer;
        }
        

}



