

.page {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-content: center;
    background: var(--color-body-a);

    &-title  {
        grid-column: 2/ span 4;
    }
    & h2 {
        color: var(--color-body-navh);
    }
}

    



.info {
    background: var(--color-body-bgrd);
    padding: 0.5em 2em;

    blockquote {
        padding: 0.5em;
    }
    p.author {
        text-align: right;
    }
    
        ul {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }
        li {
            list-style: none outside;
            
        }
    
    
    
    .travel, .ceremony {
        margin: 0.5em;
    }
    .travel {
        background: var(--color-body-box);
        padding: 0.5em;
        text-align: center;
    }
    
    .ceremony {
        background: var(--color-body-text);
        color: var(--color-body-box);
        text-align: center;
        padding: 0.5em;
        position: relative;
          
    }
    .ceremony h4 {
        color: var(--color-body-box);
    }
    
}
