.page {
    border: 1px solid #014E6D;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-content: center;

}
.wheel.first,
.wheel.second {
}
    

.page-title  {
    grid-column: 2/ span 4;
}
.page-title h2 {
    color: #014E6D;
}

.info {
    background: #43A5CF;
    padding: 0.5em 2em;
}
blockquote {
    padding: 0.5em;
}
p.author {
    text-align: right;
}

.info li {
    list-style: none outside;
}