.site-nav {
    background: #014E6D;
}
.site-nav > ul {
    display:flex;
    padding: 0 0;
    margin: 0 0;
}

.site-nav li {
    display: block;
    list-style: none outside;
    padding: 0.5em;
}

.site-nav a {
    display: block;
    padding: 0.5em;
    border: 2px solid #014E6D;
    border-radius:0.3em;
    color:#ffffff;
}
.site-nav a i.fas:before {
    color:#ffffff;
    margin-right:0.5em;
    
}

.site-nav li.selected > a,
.site-nav a:hover {
    background: #ffffff;
    color: #014E6D;
    border: 2px solid #ffffff;
}

.site-nav li.selected > a i.fas:before,
.site-nav a:hover i.fas:before {
    background: #ffffff;
    color: #014E6D;
    
}