.site-footer {
    background:var(--color-body-navh);
    color: var(--color-body-text);
    border: 1px solid var(--color-body-text);

    & p {
        text-align: center;
        font-weight: 500;
    }

    .sponsors {
        border-bottom: 1px solid var(--color-body-text);
        border-top: 1px solid var(--color-body-text);

        &-list {
            display: flex;
            justify-content: space-between;
            align-content: center;

            li {
                list-style: none outside;
                display: block;
                margin: 0 0.5em;
            
            :last-child {
                margin-right: 1em;
                }
            }

            a {
                display: block;
            }

            img {
                display: block;
                width: auto;
                height: 5em;
                
            }

        }

    }

    .public {
        display: flex;
        justify-content: space-between;
        margin: 0 2rem;
        
        img {
            padding-top:3rem;
            width: 100px;
            height: 100px;
        }

        &-list {
            margin-left:-2rem;
        }

        .public-list, .social-list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        
        }

        .public-list li,
        .social-list li {
            list-style: none outside;
            display: block;
        }

        .public-list h5,
        .social-list h5,
        .public-list a,
        .social-list a {
            display: block;
            color: var(--color-body-text);
            margin-bottom: 1em;
        }
        .public-list a i.fas:before {
            color:var(--color-body-text);
            margin-right: 0.5em;
            display: block; 
        }

        .social-list a i.fab:before {
            color:var(--color-body-text);
            margin-right:0.5em;
            display: block;      
        }

    }

}







