.site-header {
   
}

.banner {
    background: linear-gradient(rgba(165, 163, 163, 0.3), rgba(165, 163, 163, 0.3)),    
    url(../images/sailing_ship.jpg) no-repeat center center;
    background-size: cover;
    
    padding: 5rem;
    text-align:center;
    color: #ffffff;
       
}

.site-title { 
    margin:2rem 0;
    
}
.site-title > a {
    color:#ffffff;
}

.banner .site-thought {
    margin-top: 5rem;
    
}

