@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Petit+Formal+Script|Work+Sans:400,700&display=swap');


html {
    font-family: 'Work Sans', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-body-text);
}



 
h1, h2, h3, h4, h5, h6 { 
    color: #8cf5f8;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(31, 31, 31);
}

h1 {font-size: 4.5em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2.0em;}
h4 {font-size: 1.8em;}
h5 {font-size: 1.4em;}
h6 {font-size: 1.2em;}

a {
    text-decoration: none;
    color: var(--color-body-box);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

blockquote,
p.author,
.site-thought {
    font-family: 'Petit Formal Script', cursive;
    font-size: 1em;
    color:var(--color-body-text);
    text-shadow: 2px 2px 2px rgb(31, 31, 31);
    
}

