:root {
    --font-size-body-little: 10px;
    --font-size-body-small: 12px;
    --font-size-body: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    

    --color-body-text:#ffffff;
    --color-body-anim: #027D8A;
    --color-body-navh: #014E6D;
    --color-body-box: #002a54;
    --color-body-bgrd: #1bb2b8;
    --color-body-a: #8cf5f8;

    --layout-main-width:1024px;
}

/* 1600px, 1024px, 960px, 768px, 640px, 480px, 320px */