:root {
    
    --font-size-body-little: 12px;
    --font-size-body-small: 14px;
    --font-size-body: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;
    

    --color-body-text:#ffffff;
    --color-body-anim: #027D8A;
    --color-body-navh: #014E6D;
    --color-body-box: #002a54;
    --color-body-bgrd: #1bb2b8;
    --color-body-a: #8cf5f8;

    
}

